# @alexdrydew is responsible for docs
/docs @alexdrydew

# @DrhF is responsible for examples
/examples

# several people are responsible for code
/src @dfdx @varfolomeii @alexdrydew @Pocoder @vlad-mois @DrhF @dustalov

* @dfdx @varfolomeii @alexdrydew @Pocoder @vlad-mois @DrhF @dustalov
