# @alexdrydew is responsible for docs
/docs @alexdrydew

# @DrhF is responsible for examples
/examples

# several people are responsible for code
/src @Losik @varfolomeii @alexdrydew @Pocoder @vlad-mois @DrhF

* @Losik @varfolomeii @alexdrydew @Pocoder @vlad-mois @DrhF