# Ignore all
*

# Unignore dirs
!*/
.tox/

# Unignore specific files without extensions
!AUTHORS
!LICENSE
!py.typed
!.gitignore

# Unignore useful extensions
!*.in
!*.ini
!*.md
!*.py
!*.pyi
!*.toml
!*.yml
