name: Publish documentation

on:
  release:
    types: [ published ]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
         python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install https://github.com/Toloka/stubmaker/archive/refs/heads/main.zip
        pip install .[all]
        pip install "attrs>=21.0.0"
        pip install pyyaml
    - name: Checkout docs repository
      uses: actions/checkout@v3
      with:
        repository: 'Toloka/docs'
        path: 'docs-repo'
    - name: Generate markdowns
      run: |
        python ./misc/stubmaker/bin/make_markdowns $(./misc/stubmaker/bin/make_markdowns/tolokakit_args.sh) --github-source-url https://github.com/Toloka/toloka-kit/blob/${{ github.event.release.tag_name }}/src
        rm -r docs-repo/en/toloka-kit
        python misc/add_python_sdk_to_toc.py --path docs/toc.yaml
        mv docs docs-repo/en/toloka-kit
    - name: Create Pull Request to docs repository
      uses: peter-evans/create-pull-request@v4
      with:
        path: 'docs-repo'
        commit-message: '[Autogenerated] markdowns for toloka-kit ${{ github.event.release.tag_name }} release'
        token: ${{ secrets.CI_PAT }}
        push-to-fork: toloka-ci-bot/docs
        title: 'toloka-kit release docs'
        body: 'This pull request contains autogenerated markdowns for toloka-kit ${{ github.event.release.tag_name }} release.'