name: Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
    - name: Run tox with Python ${{ matrix.python-version }}
      run: |
        python -m tox
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Setup YFM
      run: |
        npm i @doc-tools/docs@latest -g
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install https://github.com/Toloka/stubmaker/archive/refs/heads/main.zip
        pip install .[all]
        pip install "attrs>=21.0.0"
    - name: Checkout docs repository
      uses: actions/checkout@v3
      with:
        repository: 'Toloka/docs'
        path: 'docs-repo'
    - name: Generate markdowns
      run: |
        python ./misc/stubmaker/bin/make_markdowns $(./misc/stubmaker/bin/make_markdowns/tolokakit_args.sh)
    - name: Update docs repository
      run: |
        rm -rf docs-repo/en/toloka-kit/reference/*.md
        rsync -a docs/ docs-repo/
    - name: Generate docs
      run: |
        cd docs-repo
        yfm -c .yfm -i . -o /tmp/toloka-kit-docs
